*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: darkgreen;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 80vh;
    color: white;
}

#title{
    text-align: center;
    color: white;
    font-size: 250%;
    margin-top: 15px;
}

.game-con{
    padding: 0 30px;
    position: relative;
    margin: 50px;
    height: 350px;
    width: 450px;
}

.hangman-stand{
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    border: 3px dotted white;
}

.hangman-part{
    display: none;
}

.wrong-letters-con{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-con p{
    margin: 0 0 5px;
}

.wrong-letters-con span {
    font-size: 24px;
}

.word{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.l{
    border-bottom: 3px solid lightgreen;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.hint{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.winning{
    padding: 20px;
    background-color: lawngreen;
    display: none;
    text-align: center;
    position: relative;
    top: -25vh;
}

.winning h1{
    margin-bottom: 15px;
}

.losing{
    padding: 20px;
    display: none;
    background-color: lawngreen;
    text-align: center;
    position: relative;
    top: -25vh;
}

.losing h1{
    margin-bottom: 15px;
}

.let-play{
    display: inline-block;
    height: 25px;
    width: 100px;
}

