*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/21/93/movie-cinema-screen-background-template-with-vector-23192193.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 80vh;
    color: black;
    font-family: 'Benguiat Bold', arial;
}

/* PLAY AREA */
#title{
    text-align: center;
    font-size: 250%;
    margin-top: 5px;
}

.game-con{
    padding: 0px;
    position: relative;
    margin:  15px 50px 0 50px;
    height: 350px;
    width: 450px;
}

.hangman-stand{
    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
    border: 3px dotted black;
}

.hangman-part{
    display: none;
}

.wrong-letters-con{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-con p{
    margin: 0 0 5px;
}

.wrong-letters-con span {
    font-size: 24px;
}

.word{
    display: flex;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.x{
    border-bottom: 3px solid black;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;
}

.hint{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Notifications */
.winning{
    padding: 50px;
    color: white;
    background-position: center;
    background-size: cover;
    background-image: url(https://media1.giphy.com/media/6mnlYDQ4VdbUs/giphy.gif);
    display: none;
    text-align: center;
    position: relative;
    top: -30vh;
}

.winning-img{
    height: 100px;
    width: 100px;
    float: right;
}

.winning h1{
    margin-bottom: 15px;
}

.winning span {
    color: gold;
}

.losing{
    padding: 65px;
    display: none;
    background-image: url(https://media1.giphy.com/media/prhxPLrZG5XNu/source.gif);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    top: -35vh;
    color: white;
}

.losing h1{
    margin-bottom: 15px;
}

.losing span {
    color: red;
}

.let-play{
    display: inline-block;
    height: 25px;
    width: 100px;

}
